*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header__nav {
    background: #000000;
    padding: 34px 0;
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list{
    display: flex;
    gap: 30px;
}
.logo{
    font-size: 14px;
    line-height: 17px;
    color: white;
    display: flex;
    gap: 5px;
}
.logo__span{
    border-radius: 3px;
    background: #4A90E2;
    padding: 3px 5px;
}
.header__nav-link {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}






/* Main start */
.main__box-info {
    font-size: 14px;
    line-height: 18px;  
}

.main__box-span {
    border-radius: 3px;
    background: #4A90E2;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 16px;
} 

.main__box-img {
    position: absolute;
}
body{
    background: black;
}
    


















/* Main end */